[Unit]
Description=uWSGI instance to serve Flask API Kode Wilayah
After=network.target

[Service]
User=root
Group=root

# Membuat direktori socket otomatis setiap service start
RuntimeDirectory=uwsgi
RuntimeDirectoryMode=0755
WorkingDirectory=/home/apps/kode-wilayah/src/api # ganti direktori sesuai kondisi!!!
Environment="PATH=/home/apps/python3.venv/bin" # ganti direktori sesuai kondisi!!!
ExecStart=/home/apps/python3.venv/bin/uwsgi --ini app.ini # ganti direktori sesuai kondisi!!!

[Install]
WantedBy=multi-user.target